EXPO_PUBLIC_SUPABASE_URL= https://tmddrjplvafqbqlaxhrn.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRtZGRyanBsdmFmcWJxbGF4aHJuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU0NzI4NzgsImV4cCI6MjA5MTA0ODg3OH0.cUQMyW8bzIP9ecHYDjpq8YRlslEMKpTrbFNxt8zHEgU
EXPO_PUBLIC_ANTHROPIC_API_KEY=
EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY=
EXPO_PUBLIC_ADMOB_APP_ID=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
DATABASE_URL=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
FIREBASE_SERVER_KEY=
WHISPER_API_KEY=